.myButtonContainer {
  display: flex;
  justify-content: center;
  .myButton {
    background-color: red;
    border-radius: 100%;
    width: 600px;
    height: 600px;
    color: white;
    font-size: 100px;
  }
}
