.myButtonContainer {
  display: flex;
  justify-content: center;
  .myButton {
    background-color: red;
    padding: 30px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    color: white;
    font-size: 100px;
  }
}
